extends layout

block content
  h1= title
  div
    span
      a.button(href="/books/new") Create New Book

    span
      input.search(type="text")
      a.button(type="submit" id="search" ) Search
  table
      thead 
          tr
            th Title
            th Author
            th Genre
            th Year
      tbody
        each book in books  
          tr
            td 
              a(href="/book-details/"+ book.id)= book.title
            td= book.author
            td= book.genre 
            td= book.year


  p
    a.button(href="/books/next-5")  Next 5