extends layout

block content
  h1= title
  
  div
    span
      a.button(href="/books/new") Create New Book

    
    form(action="/books"  method="post")
      span
        input.search(type="text" id="bookSearch" name="query" )
        input(type="submit" id="search"  value="Search")
  table
      thead 
          tr
            th Title
            th Author
            th Genre
            th Year
      tbody
        each book in books  
          tr
            td 
              a(href="/book-details/"+ book.id)= book.title
            td= book.author
            td= book.genre 
            td= book.year


  p
    a.button(href="/books?page=1&limit=5")  Next 5