extends layout

block content
  h1= title
  
  div.header
    div
      a.button(href="/books/new") Create New Book

    div.search-box
      form(action="/books"  method="post")
        div.form__input--flex
          input.search(type="text" id="bookSearch" name="query" )
          input(type="submit" id="search"  value="Search")
  table
      thead 
          tr
            th Title
            th Author
            th Genre
            th Year
      tbody
        each book in books  
          tr
            td 
              a(href="/book-details/"+ book.id)= book.title
            td= book.author
            td= book.genre 
            td= book.year


  //p
   // a.button(href="/books" id="next")  Next 5


  div.page-list
    -for (var i = 1; i <= numberOfPages; i++  )
     a.page-number(href="/books?page=" + i ) #{i} 
